* {
box-sizing:border-box;
list-style:none;
margin:0;
padding:0;
}

html {
font-size:15px;
}

body {
font-family:'Times New Roman',Arial, Helvetica, sans-serif;
font-size:1rem;
list-style:none;
}

.header {
display:flex;
justify-content:center;
background:#E5E5E5;
padding:1.4rem;
}

h1 {
text-align:center;
margin-bottom:7rem;
font-size:2.3rem;
padding:.5rem;
}

.title {
letter-spacing:.6rem;
color:#005677;
text-transform:uppercase;
background:#C4C4C4;
}

.cv-data {
width:70%;
line-height:1.6rem;
margin:7rem auto;
}

.subtitle {
letter-spacing:.5rem;
font-size:1.3rem;
padding:.3rem 1rem;
}

.personal-data-list li {
list-style:disc;
}

.personal-data-list {
padding:1.5rem 4rem;
}

.italic {
font-style:italic;
}

.years-list {
padding:1.5rem 4rem 1rem;
}

.year {
display:flex;
margin-bottom:0.5rem;
}

.year-sublist {
list-style:none;
}

.year-info {
margin-left:0.3rem;
}

.footer {
background:#005677;
color:#FFF;
font-weight:700;
display:flex;
justify-content:center;
margin-top: 10rem;
padding:0.7rem;
}

.fab {
margin-left:1.73rem;
}